<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Django Channels WebRTC</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
	<h3 id="label-username">USERNAME</h3>
	<div class="mb-2">
		<input id="username"><button id="btn-join">Join Room</button>
		<button id="btn-toggle-audio" class="btn btn-dark">Audio Mute</button>
		<button id="btn-toggle-video" class="btn btn-dark">Video Off</button>
	</div>
	<div class="main-grid-container">
		<div id="video-container">
			<div class="position-relative">
				<video id="localVideo" autoplay playsinline></video>
				<canvas id="myCanvas" class="position-absolute top-0 left-0"></canvas>
			</div>
		</div>

		<div id="chat">
			<h3> CHAT </h3>
			<div id="messages">
				<ul id="message-list"></ul>
			</div>
			<div id="ct"><input id="msg"><button id="btn-send-msg">send</button></div>
			<button id="btn-share-screen">Share Screen</button>
		</div>
	</div>
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>