.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.d-none {
    display: none;
}
.mt-2 {
    margin-top: 1em;
}
.mb-2 {
    margin-bottom: 1em;
}
.top-0 {
    top: 0;
}
.left-0 {
    left: 0;
}

.video-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: red;
}

.main-grid-container {
    display: grid;
    grid-template-columns: 60% 20%;
}

video {
    border-radius: 5%;
    background-color: yellow;
}